<form method="POST" action="/api/session/register">
<h1>Registro</h1>
    <label for="first_name">Name:</label>
    <input type="text" id="first_name" name="first_name" required>

    <label for="last_name">Last name:</label>
    <input type="text" id="last_name" name="last_name" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Register</button>
    <p>Do you have an account already? <a href="/login">Sing in</a></p>
</form>
<link rel="stylesheet" type="text/css" href="css/register.css">